<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
  </configSections>
  <memcached>
    <servers>
      <add address="127.0.0.1" port="11211"/>
      <add address="192.168.10.53" port="11211"/>
    </servers>
    <socketPool minPoolSize="12" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
  </memcached>
  <dataConfiguration defaultDatabase="HidistroSqlServer"/>
  <!--<connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA0/o4v2wjrUefXIb5U8RDjwQAAAACAAAAAAAQZgAAAAEAACAAAAApTDxaQ7iDvAOEMh0JMTQc5LJhuH3q1pJgA3gY78sOmgAAAAAOgAAAAAIAACAAAACqffW43ts+7fd57YJ37n/UyN3ohbAlfftywONSPPaiu6ABAACiNGczRoZyCUW5V0fboftpE2Ex92nmSr87zvFdHV6rDP3EwAKVlbMw3fM0hOqg0rAegBF/LeRCq2QQC307opoi81PpJsGbF6U1y5nz4djlgRVMUyNBRlHldkQ6jWg+EUZns5E0X8442kS3bV+i+9RGke8sVnlhhhYnmElyILRSUSsSkHaCg82gIEhqMkK/TuNd4IXRKjTn5XW4v0dy6QXji341KqoUW21W+YXq4AT0MLZyrJQy/GF96QYjf8jdS3lLHuZfA1x68Nm5QfIEG5ILMVVAilQojY4M7ddo9cUdU8ycgZx0Bn/vFOjV8/Nsjec1xRWJD1knBk2ak1Xcr9trJEAe1sbZh0ugKeOHlOhIUiXHmNE3ClG4hYz32tAtQG4kMDI1OScl0JfaVwHnoxTdfiNpWQ/222sN+kw3zCMn1NxGZDGHWKROo/LzIpBtWSGItgz5A0WRhQQxVtx+oOK7B+c2cbe+mPII4n8ZYXxel4TRmv90vHxCCXzOORl3EnrgkdA142X+jA77pkqSLY3mXPaAKSBes/wM1hVD2aH5xUAAAAAXKGNYR65lmUtXTfSdKbLgXXFvkp/D7r2x+w2a8TWjCTPE9i0vylzqy7fO1nggYkDPTSABbxQ8wWZ9be8zjFzt</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>-->
  <connectionStrings>
    <add name="HidistroSqlServer" connectionString="server=192.168.0.200;uid=sa;pwd=123456; Trusted_Connection=no;database=demoshopefx" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<add name="HidistroSqlServer" connectionString="server=192.168.0.200;uid=sa;pwd=123456; Trusted_Connection=no;database=demoshopefx" providerName="System.Data.SqlClient" />-->
  <appSettings>
    <add key="Key" value="Ox4q14KzgvyxJt0c0u7Mlw==" />
    <add key="IV" value="hR1g5xVdGExLK00a/4mLBg==" />
  </appSettings>
  <system.web>
    <!--<sessionState mode="Off" />-->
    <machineKey validationKey="F78B7CA3653ED34DD1AC324C81C2FEBB9653146A"
      decryptionKey="95AEB736D735099AEAE0A51887AC78F397DED273050FC511"
      validation="SHA1" decryption="3DES" />
    <pages buffer="true" enableViewStateMac="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableSessionState="true" validateRequest="false" autoEventWireup="false" pageBaseType="Hidistro.UI.Common.Controls.HiPage, Hidistro.UI.Common.Controls" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <trace enabled="false" pageOutput="false"/>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.0" debug="true"/>
    <identity impersonate="true"/>
    <authentication mode="Forms">
      <forms name=".Hidistro" protection="All" timeout="240" loginUrl="LoginEntry.aspx" cookieless="UseCookies" slidingExpiration="true">
        <credentials passwordFormat="Clear">
          <user name="tester" password="123456"/>
        </credentials>
      </forms>
    </authentication>
    <webServices>
      <protocols>
        <remove name="HttpPost"/>
        <remove name="HttpGet"/>
        <remove name="HttpPostLocalhost"/>
        <remove name="Documentation"/>
        <remove name="Unknown"/>
      </protocols>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </webServices>
    <httpRuntime maxRequestLength="40960" executionTimeout="360" requestValidationMode="2.0"/>
  </system.web>
  <microsoft.web.services3>
    <security>
      <securityTokenManager>
        <add type="Hidistro.UI.Web.HiUsernameTokenManager,Hidistro.UI.Web" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" localName="UsernameToken"/>
      </securityTokenManager>
      <timeToleranceInSeconds value="3600"/>
    </security>
    <policy fileName="wse3policyCache.config"/>
  </microsoft.web.services3>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="png图片" path="*.png" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
      <add name="jpg图片" path="*.jpg" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="File" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>